<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is Working</title>
</head>
<body>
    <h1>This is text analzyer. Enter your text</h1>
    <form action='/analyze' method='get'>
<textarea name = 'text' style='margin: 0px; width: 1486px; height: 181px;'></textarea><br>
     <input type="checkbox" name = 'removepunc'> Remove Punctuations <br>
     <input type="checkbox" name = 'fullcaps'> Capitalized your String <br>
     <input type="checkbox" name = 'newlineremover'> New Line Remover <br>
     <input type="checkbox" name = 'extraspaceremover'> Extra Spaces Remover <br>
     <input type="checkbox" name = 'countchar'> Count Characters <br>
    <button type="submit">Analyze text</button>
    </form>
</body>
</html>

